<!-- The Modal -->
<div class="modal fade" id="room_details">
  <div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
      <h4 class="modal-title">Room Details</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <p><strong>Room Name: </strong>{{ roomname }}</p>
        <p><strong>Total users in the server: </strong><span id="online"></span></p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      
  </div>
  </div>
  </div>